@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
.header {
  height: 99vh;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.655), rgba(26, 25, 25, 0.808)), url("../img/background1.JPG");
  background-position: center;
  /* clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%); */
  position: relative;
  overflow: hidden;
}

.heading__content-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (min-width: 31rem) {
  .heading__content-box {
    width: 100%;
  }
}

.heading__content--name {
  display: block;
  font-weight: 900;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

.heading__content--title {
  font-weight: normal;
  font-size: 1.25rem;
  display: block;
  color: #f78e43;
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  80% {
    transform: translateX(10);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  80% {
    transform: translateX(-10);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-list ul {
  position: relative;
  display: flex;
}
.icon-list ul li {
  position: relative;
  list-style: none;
}
.icon-list ul li a {
  height: 50px;
  width: 50px;
  background: #18191f;
  line-height: 55px;
  text-align: center;
  margin: 0 15px;
  border-radius: 15px;
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.05), 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.icon-list ul li a .fa {
  font-size: 25px;
  color: #555;
}
.icon-list ul li a:hover .fa {
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
}
.icon-list ul li:nth-child(3) a .fa {
  font-size: 22px;
}
.icon-list ul li:nth-child(2) a:hover .fa {
  color: #f00;
  text-shadow: 0 0 15px #f00;
}
.icon-list ul li:nth-child(3) a:hover .fa {
  color: #ff0;
  text-shadow: 0 0 15px #ff0;
}
.icon-list ul li:nth-child(4) a:hover .fa {
  color: #0f0;
  text-shadow: 0 0 15px #0f0;
}

.background-area {
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.824);
  animation: animate 25s linear infinite;
  top: -150px;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  filter: blur(2px);
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  filter: blur(2px);
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  filter: blur(2px);
}
.circles li:nth-child(4) {
  left: 40%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 18s;
  filter: blur(2px);
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  filter: blur(2px);
}
.circles li:nth-child(6) {
  left: 75%;
  width: 25px;
  height: 25px;
  animation-delay: 3s;
  filter: blur(2px);
}
.circles li:nth-child(7) {
  left: 35%;
  width: 30px;
  height: 30px;
  animation-delay: 7s;
  filter: blur(2px);
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  filter: blur(2px);
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  border-radius: 0px;
  animation-delay: 2s;
  animation-duration: 35s;
  filter: blur(2px);
}
.circles li:nth-child(10) {
  left: 85%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 11s;
  filter: blur(2px);
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 50%;
  }
  100% {
    transform: translateY(1000px) rotate(0deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.main-nav {
  position: fixed;
  top: 0;
  padding: 8px 0;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.main-nav__items {
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: auto 1rem;
}
.main-nav__item a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
}
@media (min-width: 31rem) {
  .main-nav__item a {
    font-size: 1.2rem;
  }
}
.main-nav__item a:hover {
  color: #f78e43;
}

#project {
  max-width: 1200px;
  top: -3rem;
  position: relative;
  padding-top: 3rem;
  margin: auto;
}

.project-box {
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid;
  border-color: #f78e43;
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 24.25%);
  grid-template-rows: 3rem auto auto auto;
  grid-gap: 20px 1%;
  grid-template-areas: "name name name name" "image image detail detail" "btn btn detail detail";
  background-color: rgba(112, 202, 187, 0.02);
}
@media (max-width: 45rem) {
  .project-box {
    grid-template-rows: 3rem auto auto auto;
    grid-template-columns: minmax(20rem, 90%);
    grid-template-areas: "name" "image" "btn" "detail";
    justify-content: center;
  }
}

.project-name {
  grid-area: name;
  font-size: 2.1rem;
  font-weight: 700;
}

.project__image-container {
  grid-area: image;
}
.project__image-container img {
  width: 100%;
  padding: 0 20px;
}

.project__button-group {
  grid-area: btn;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 53rem) {
  .project__button-group {
    justify-content: center;
  }
}
@media (max-width: 45rem) {
  .project__button-group {
    max-width: 320px;
  }
}

.btn, .project__button--code a, .project__button--link a {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 45px;
  background: #262626;
  text-transform: uppercase;
  text-align: center;
  line-height: 45px;
  color: #f78e43;
  font-size: 1.15rem;
  text-decoration: none;
  letter-spacing: 3px;
}
@media (max-width: 53rem) {
  .btn, .project__button--code a, .project__button--link a {
    width: 100%;
    height: 45px;
  }
}
@media (max-width: 20rem) {
  .btn, .project__button--code a, .project__button--link a {
    width: 100%;
    height: 45px;
  }
}
.btn:before, .project__button--code a:before, .project__button--link a:before, .btn:after, .project__button--code a:after, .project__button--link a:after,
.btn span:before,
.project__button--code a span:before,
.project__button--link a span:before,
.btn span:after,
.project__button--code a span:after,
.project__button--link a span:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f78e43;
  transition: 1s;
  z-index: -50;
}
.btn:before, .project__button--code a:before, .project__button--link a:before {
  top: -2px;
  left: -2px;
}
.btn:after, .project__button--code a:after, .project__button--link a:after {
  top: -2px;
  right: -2px;
}
.btn span:before, .project__button--code a span:before, .project__button--link a span:before {
  bottom: -2px;
  left: -2px;
}
.btn span:after, .project__button--code a span:after, .project__button--link a span:after {
  bottom: -2px;
  right: -2px;
}

.btn:hover:before, .project__button--code a:hover:before, .project__button--link a:hover:before,
.btn:hover:after,
.project__button--code a:hover:after,
.project__button--link a:hover:after,
.btn:hover span:before,
.project__button--code a:hover span:before,
.project__button--link a:hover span:before,
.btn:hover span:after,
.project__button--code a:hover span:after,
.project__button--link a:hover span:after {
  width: calc(100% / 2 );
  height: calc(100% / 2);
}

.project__button--link {
  text-align: center;
  position: relative;
  width: 50%;
}
@media (max-width: 53rem) {
  .project__button--link {
    margin-bottom: 16px;
    width: 100%;
  }
}

.project__button--code {
  text-align: center;
  position: relative;
  width: 50%;
}
@media (max-width: 53rem) {
  .project__button--code {
    margin-bottom: 16px;
    width: 100%;
  }
}

.project-detail {
  grid-area: detail;
  align-self: start;
}
.project-detail p {
  margin-bottom: 1rem;
}

.project-detail__title p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5625rem;
  color: #f78e43;
}

.project-detail__list {
  margin-top: 40px;
  font-size: 1.1rem;
}

.isDisabled {
  cursor: not-allowed;
}

.isDisabled > a {
  color: currentColor;
  display: inline-block;
  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

#skill {
  top: -3rem;
  position: relative;
  padding-top: 3rem;
}

.skill__content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: space-between;
}
@media (min-width: 40.1rem) {
  .skill__content {
    flex-wrap: nowrap;
  }
}
.skill__content .card, .skill__content .card2, .skill__content .card1 {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background: #333;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  min-height: 276px;
}
.skill__content .card:hover, .skill__content .card2:hover, .skill__content .card1:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.skill__content .introduce {
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  width: 50vw;
  max-width: 32rem;
  min-width: 20rem;
  font-size: 1.14rem;
  line-height: 1.5;
}
@media (max-width: 40rem) {
  .skill__content .introduce {
    padding-bottom: 1.2rem;
  }
}
.skill__content .skill {
  padding-left: 10px;
  padding-right: 10px;
  width: 50vw;
  max-width: 32rem;
  min-width: 20rem;
  color: #fff;
}
@media (max-width: 40rem) {
  .skill__content .skill {
    padding-top: 1.2rem;
  }
}
.skill__content .skill span {
  font-weight: bold;
  font-size: 1.12rem;
}
.skill__content .skill p {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100%; */
  color: #fff;
}

html {
  /* height: 100%; */
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  background-color: #262626;
  color: #fff;
  /* height: 100%; */
}

.title {
  font-weight: 900;
  font-size: 2.6rem;
  line-height: 1.7;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #f78e43;
}

/*# sourceMappingURL=main.css.map */
