.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  &:target {
    visibility: visible;
    opacity: 1;
  }

}


.popup {
  margin: auto;
  padding: 20px;
  top: 50%;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1.5s ease-in-out;
  transform: translateY(-50%)
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: -6px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: $color-black;
}

@media screen and (max-width: 50rem){
  .popup{
    width: 70%;
  }
}