* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* height: 100%; */
  }
  
  html {
    /* height: 100%; */
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    background-color: rgb(20, 18, 16,0.99);
    /* height: 100%; */
  }
  